.\#*
.ackrc
.bscr_version
.cache
.coverage
.env
BRANCHES
MANIFEST
README
DODO
attic
backscratcher.egg-info
dist
incoming
test_*.clps*
testhome
TAGS
cmsg
venv*
pytest.ini
.python-version
*.org
*.log
*.pyc
*~
\#*\#
